<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Name</key>
    <string>Cydia Installer</string>
    <key>Identifier</key>
    <string>org.saurik.cydia-atv</string>
    <key>Description</key>
    <string>AppleTV 2G Unix Subsystem w/ Advanced Installer</string>
    <key>SupportedFirmware</key>
    <array>
		<string>AppleTV2,1_4.1_8M89</string>
    </array>
    <key>Commands</key>
    <array>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>.</string>
            <key>Owner</key>
            <string>0:80</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/bin/pagesize</string>
            <key>Owner</key>
            <string>501:50</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/include/pam/pam_modules.h</string>
            <key>Owner</key>
            <string>12270:11</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Applications</string>
            <key>Owner</key>
            <string>0:80</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/empty</string>
            <key>Owner</key>
            <string>0:3</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/local</string>
            <key>Owner</key>
            <string>0:50</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/run</string>
            <key>Owner</key>
            <string>0:1</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/db</string>
            <key>Owner</key>
            <string>0:80</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/mobile</string>
            <key>Owner</key>
            <string>501:501</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/mobile/Library</string>
            <key>Owner</key>
            <string>501:501</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/mobile/Library/Preferences</string>
            <key>Owner</key>
            <string>501:501</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/var/mobile/Media</string>
            <key>Owner</key>
            <string>501:501</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>sbin/nologin</string>
            <key>Owner</key>
            <string>501:50</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library</string>
            <key>Owner</key>
            <string>0:80</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Wallpaper</string>
            <key>Owner</key>
            <string>0:80</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Ringtones</string>
            <key>Owner</key>
            <string>0:80</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks</string>
            <key>Owner</key>
            <string>0:80</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/bin/passwd</string>
            <key>Permission</key>
            <string>4755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/bin/rsh</string>
            <key>Permission</key>
            <string>4775</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/bin/rlogin</string>
            <key>Permission</key>
            <string>4775</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/bin/quota</string>
            <key>Permission</key>
            <string>4755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/bin/login</string>
            <key>Permission</key>
            <string>4755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/bin/rcp</string>
            <key>Permission</key>
            <string>4775</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/libexec/ssh-keysign</string>
            <key>Permission</key>
            <string>4711</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Applications/Cydia.app/Cydia_</string>
            <key>Permission</key>
            <string>6755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>bin/ping</string>
            <key>Permission</key>
            <string>4775</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>bin/su</string>
            <key>Permission</key>
            <string>4555</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>private/var/local</string>
            <key>Permission</key>
            <string>2775</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>sbin/umount</string>
            <key>Permission</key>
            <string>4755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>RunScript</string>
            <key>File</key>
            <string>space.sh</string>
        </dict>
    </array>
    <key>Size</key>
    <integer>36624731</integer>
</dict>
</plist>
