<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>libgmalloc.dylib</string>
				<key>Name</key>
				<string>libgmalloc.dylib</string>
				<key>Path</key>
				<string>usr/lib/libgmalloc.dylib</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>pf2</string>
				<key>Name</key>
				<string>pf2</string>
				<key>Path</key>
				<string>usr/lib/pf2</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-7081-078.dmg</string>
			<key>IV</key>
			<string>1edc4378f31ce728a2412ff93c78b8dd</string>
			<key>Key</key>
			<string>425f8a7bdac80a9678c78317a0ddbb91abb52a2fd1ff45f46c3e6db392155db9</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-7108-078.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>45e620eb1cabe17cb5e25018e628160e</string>
			<key>Key</key>
			<string>1b45e1726a88d3e89a203a59544b853c531758dd3c6f15fd9fa24cfa4ebc949d</string>
			<key>Patch</key>
			<string>iBSS.n18ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-7116-114.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>768</integer>
	<key>RootFilesystemKey</key>
	<string>69e2ca7a250765c95a703081d1195e681fbe82f31162b79fd2b70754629b0352694b9eda</string>
	<key>RootFilesystemMountVolume</key>
	<string>Baker8B117.N18OS</string>
	<key>SHA1</key>
	<string>3162bad4060b7a58c9942ddb483e5bd9bcc5269f</string>
	<key>Filename</key>
	<string>iPod3,1_4.1_8B117_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod3,1_4.1_8B117</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>2</integer>
	<key>SubPlatform</key>
	<integer>8</integer>
</dict>
</plist>
