<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>libgmalloc.dylib</string>
				<key>Name</key>
				<string>libgmalloc.dylib</string>
				<key>Path</key>
				<string>usr/lib/libgmalloc.dylib</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>pf2</string>
				<key>Name</key>
				<string>pf2</string>
				<key>Path</key>
				<string>usr/lib/pf2</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/CoreServices/SpringBoard.app/K48AP.plist</string>
				<key>Name</key>
				<string>Capabilities</string>
				<key>Patch</key>
				<string>K48AP.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-8375-001.dmg</string>
			<key>IV</key>
			<string>309d4fc146b47f43e8bc27133d7ce6bc</string>
			<key>Key</key>
			<string>f45eaec8b6c17af7c6071635a313572b1b0208bc445cfb6c1d60b6bf377e6653</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-8374-001.dmg</string>
			<key>IV</key>
			<string>3f6f0bdb71a33c801a9b67a616e9cfe3</string>
			<key>Key</key>
			<string>3188be37002aef49c9f54d91da23857f89045118c2bb1e6f1db906c98dbb5230</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3a0ad7cf0f172bc3736af2099a4a89b4</string>
			<key>Key</key>
			<string>0dcdc5bdc0d991020222c0e7b7d11305466f0ef831964c5fc9325f05e32b1a09</string>
			<key>Patch</key>
			<string>iBSS.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>FunctionalityPlist</key>
	<string>System/Library/CoreServices/SpringBoard.app/N82AP.plist</string>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-8370-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1024</integer>
	<key>RootFilesystemKey</key>
	<string>18ae1e76e7bcf6478321f42888606ca2d998cffab1ee8c7ca6b15d57b1a7254f8a608823</string>
	<key>RootFilesystemMountVolume</key>
	<string>Wildcat7B500.K48OS</string>
	<key>SHA1</key>
	<string>68b613f78581d36eab96aa5a007001dff142baa3</string>
	<key>Filename</key>
	<string>iPad1,1_3.2.2_7B500_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad1,1_3.2.2_7B500</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>3</integer>
	<key>SubPlatform</key>
	<integer>3</integer>
</dict>
</plist>
