<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>libgmalloc.dylib</string>
				<key>Name</key>
				<string>libgmalloc.dylib</string>
				<key>Path</key>
				<string>usr/lib/libgmalloc.dylib</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>pf2</string>
				<key>Name</key>
				<string>pf2</string>
				<key>Path</key>
				<string>usr/lib/pf2</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-9394-001.dmg</string>
			<key>IV</key>
			<string>e869e35fae9877bcba930e66e1536fc6</string>
			<key>Key</key>
			<string>205d0b4636400b08cd0b86a4afdec9d7fc79267f3146a00ce9bb4f3d987a1547</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-9392-001.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c58929f652c1c086f70f941f3bb31058</string>
			<key>Key</key>
			<string>358e67475d675410517ccbfcbbc38fa4c56d0e892b627460851a1fa5e9b430ab</string>
			<key>Patch</key>
			<string>iBSS.n81ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-9391-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>815</integer>
	<key>RootFilesystemKey</key>
	<string>770b58765a3345004528fd9a2cbb7c3105137d0bd3a134a24679e6e173f32636d0485d06</string>
	<key>RootFilesystemMountVolume</key>
	<string>Baker8B118.N81OS</string>
	<key>SHA1</key>
	<string>331fb1342f5dab8c04cead74384a1e0fc1145952</string>
	<key>Filename</key>
	<string>iPod4,1_4.1_8B118_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod4,1_4.1_8B118</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>2</integer>
	<key>SubPlatform</key>
	<integer>9</integer>
</dict>
</plist>
